alias nv="nvim"
alias vim="nvim"

# yarn
alias y='yarn'
alias ya='yarn add'
alias yad='yarn add --dev'
alias yr='yarn run'
alias yR='yarn remove'
alias yt='yarn test'
alias yu='yarn upgrade'
alias yui='yarn upgrade-interactive'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# git
alias gac='git add . && git commit -v'
alias gcf='git commit --fixup `fcs`'
alias gdc='git diff --cached'
alias glg='fshow "master.."'
alias glog='fshow'
alias glr='git pull --rebase'
alias gli='git pull && yarn install'
alias gpf='git push -f'
alias grn='git branch -m $(current_branch)'
alias gro='git reset origin/$(current_branch)'
alias groH='gro --hard';
alias gpo='git push origin'
alias gbD='git branch -D'
alias gg='git checkout -'
alias gs='scmpuff_status'
alias gunwip='git log -1 | grep -q -c "\-\-wip\-\-" && git reset HEAD~1'
